{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <div class="nft_details__style pt-60 bg-body-2 section_gap_y_bottom__1">
        <div class="container">
            <br>
            <div class="row gx-7 gy-4 position-relative justify-content-between">
                <div class="col-lg-7 col-sm-10 col-12">
                    <div class="nft_details__img">
                        <img src="{{product.image.url}}" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="nft__details">
                        <div class="nd__header">
                            <div class="nd__title">
                                <h3 class="nft__title">{{product.title}}</h3>
                            </div>
                        </div>

                        <div class="nd_disc__text">
                            <p>{{ product.description|safe }}</p>
                        </div>
                        <div class="nd__status">

                            <div class="nft__price">
                                <div class="d-flex align-items-center">
                                    <h4>{{product.price}} сом</h4>
                                </div>
                            </div>

                        </div>
                        <div class="bid__btn pt-20">
                            <a href="https://wa.me/{{settings.phone}}/?text=Здравствуйте, меня интересует {{product.title}}. Можем ли мы обсудить детали?" class="btn-rounded-v6">Купить</a>
                        </div>
                        {% if product.characteristics.all %}
                        <div class="accordion-item nd_single__block author__details mt-40">
                            <h2 class="accordion-header sidebar__header" id="blockHeadingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#block-collapseOne" aria-expanded="true">
                                    <svg width="17" height="12" viewBox="0 0 17 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.16992 1H16.0032" stroke="currentColor" stroke-width="1.2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M5.16992 6H16.0032" stroke="currentColor" stroke-width="1.2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M5.16992 11H16.0032" stroke="currentColor" stroke-width="1.2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M1 1H1.01111" stroke="currentColor" stroke-width="1.2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M1 6H1.01111" stroke="currentColor" stroke-width="1.2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M1 11H1.01111" stroke="currentColor" stroke-width="1.2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    <span>Характеристики</span>
                                </button>
                            </h2>
                            <div id="block-collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="blockHeadingOne">
                                <div class="accordion-body sidebar__body">
                                    
                                    <div class="row gx-2 gy-2">
                                        {% for characteristic in product.characteristics.all %}
                                       
                                            <div class="properties__info d-flex gap-2 align-item-center p-0" style='height:40px; align-items:center;'>
                                                <h5 style="width:40%;height:100%;padding:0;align-items:center;display:flex;padding-left:10px;">{{ characteristic.name }}</h5>
                                                {% comment %} <span>{{ characteristic.value }}</span> {% endcomment %}
                                                <p style='background:#484d5d4f;width:60%;height:100%;display:flex;align-items:center;padding-left:10px; '>{{ characteristic.value }}</p>
                                            </div>
                                        
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% include 'include/footer.html' %}
    {% endblock %}