{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <!-- ===============  breadcrumb style start =============== -->
    <div class="breadcrumb_style__two bg-body-2">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                <a href="{% url 'index' %}" class="back__btn">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 6.5H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 11.5L1 6.5L6 1.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>

                <ul class="d-flex page__list">
                    <!-- <li><a href="{% url 'index' %}">Home</a></li>
                    <li>Page</li>
                    <li>Contact Us</li> -->
                </ul>
            </div>
        </div>
    </div>
    <!-- ===============  breadcrumb style end =============== -->
    
    <!-- =============== contact wrapper start =============== -->
    <div class="contact_wrapper__style bg-body-2 section_gap_y_top__2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 text-center">
                    <h2 class="contact__title">Привет,🖐 </h2>
                    <p class="disc-text-2 pt-2">Оставьте свои данные и в скором времени мы с вами свяжемся</p>
                </div>
            </div>

            <div class="contact_form__wrap section_gap_y_top__3 section_gap_y_bottom__3"> 
                <div class="row">
                    <div class="col-lg-4 h-100 d-none d-lg-block">
                        <img src="{{about.image.url}}" style="border-radius: 14px;" alt="" >
                    </div>
                    <div class="col-lg-8">
                        <div class="contact_form__outer">
                            <form method="post" id="contact__form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6 pt-20">
                                        <div class="custom_input__style">
                                            <label for="name">ФИО</label>
                                            <input name="name" type="text" id="name" placeholder="Введите свое имя">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pt-20">
                                        <div class="custom_input__style">
                                            <label for="name">Email</label>
                                            <input name="email" type="email" id="email" placeholder="Введите свою почту">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pt-20">
                                        <div class="custom_input__style">
                                            <label for="name">Номер телефона</label>
                                            <input name="phone" type="text" id="email" placeholder="Введите свой номер телефона">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pt-20">
                                        <div class="custom_input__style">
                                            <label for="name">Причина обращения</label>
                                            <input name="cause" type="text" id="email" placeholder="Введите по какой причине обращаетесь">
                                        </div>
                                    </div>
    
                                    <div class="col-lg-12 pt-20">
                                        <div class="custom_input__style">
                                            <label for="massege">Текст</label>
                                            <textarea name="message" id="massege" cols="30" rows="5" placeholder="Введите текст"></textarea>
                                        </div>
                                    </div>
    
                                    <div class="condition">
                                        {% comment %} <input type="checkbox"  id="condition">
                                        <label for="condition">Allow to all tearms & condition</label> {% endcomment %}
                                    </div>

                                   <div class="submit__btn">
                                    <button type="submit" class="submit-v1">Отправить</button>
                                   </div>
    
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- =============== contact wrapper end =============== -->
   

     {% include 'include/footer.html' %}
     {% endblock %}