{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

    <!-- ===============  breadcrumb style start =============== -->
    <div class="breadcrumb_style__two bg-body-2">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                <a href="index.html" class="back__btn">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 6.5H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M6 11.5L1 6.5L6 1.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </a>

                <ul class="d-flex page__list">
                    {% comment %} <li><a href="index.html">Home</a></li>
                    <li>Pages</li>
                    <li>Blog Details</li> {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
    <!-- ===============  breadcrumb style end =============== -->

    <!-- ===============  blog details wrapper start=============== -->
    <div class="blog_details__wrapper bg-body-2 section_gap_y_bottom__1 pt-60 overflow-hidden">
        <div class="container">
            <div class="blog__details">
                <div class="row ">
                    <div class="blog_d__header make_center">
                        <h2 class="blog__title">{{news.title}}</h2>
    
                        <div class="blog-thumb">
                            <img src="{{news.image.url}}"  alt="">
                        </div>
                    </div>
                </div>

                <div class="row gx-6 make_center">
                    <div class="col-lg-8 pt-60">
                        <div class="blog_d__body">
                            <h5>{{ news.description | safe }}</h5>

                            
                        </div>
                        
                        <div class="blog__bottom make_center">
                            <h3 class="others_blog">Другие новости</h3>

                            {% for new in news_others %}
                            <div class="blog__switcher d-flex gap-3 pt-40 flex-column flex-lg-row ">
                                <div class="single__switcher">
                                    <a class="switch__icon" href="{% url 'news_detail' new.id %}">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 8H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M8 1L1 8L8 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                    <div class="switcher__info">
                                        <span>{{ new.title }}</span>
                                        <h5><a href="{% url 'news_detail' new.id %}">{{ new.description_2 |truncatewords:4}}</a></h5>
                                    </div>
                                    {%endfor%}
                                </div>
                                <div class="single__switcher toright">
                                    {% for new in news_others_2 %}
                                    <div class="switcher__info text-end">
                                        <span>{{ new.title }}</span>
                                        <h5><a href="{% url 'news_detail' new.id %}">{{ new.description_2 |truncatewords:4}}</a></h5>
                                    </div>
                                    <a class="switch__icon" href="{% url 'news_detail' new.id %}">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 8H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M8 1L15 8L8 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            
                                    </a>
                                    {%endfor%}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- ===============  blog details wrapper end=============== -->

    {% include 'include/footer.html' %}
    {% endblock %}